.a1 {
    text-decoration: none;
    font-size: 40px;
}

span {
    color: black;
}
header{
    background-color: white;
    text-align: left;
    padding: 20px;
    color: deepskyblue;
    width: 1280px;
}
footer {
    background-color: grey;
    text-align: center;
    padding: 20px;
    color: deepskyblue;
    width: 1280px;
    display: inline-block;
}

nav.head {
    overflow: hidden;
    background-color: slategrey;
    width: 1280px;
    text-align: center;
   }

nav.head a {
    float: left;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    margin-left: 150px;
}

nav.head a:hover {
    background-color: lightslategrey;
}

nav.head2 {
    width: 300px;
    float: left;
    overflow: hidden;
    border: 1px solid black;
    margin-top: 20px;
}

nav.head2 a {
    display: block;
    color: lightskyblue;
    background-color: white;
    text-align: left;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    margin-left: 20px;
}

nav.head2 a:hover {
    background-color: #ddd;
    color: black;
}

img {
    height: 400px;
    width: 600px;
    margin-left: 90px;
    border: 1px solid black;
    margin-top: 20px;
}
.container {
    width: 1280px;
}

.header-text {
    float: left;
    padding: 0 20px;
}

.clear {
    clear: both
}

nav.ender {
    overflow: hidden;
    background-color: grey;
    width: 1280px;
    text-align: center;
}

nav.ender a {
    float: left;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    margin-left: 150px;
}

nav.ender a:hover {
    background-color: grey;
    color: #31b9ff;
    text-decoration: underline;
}

.h3 {
    margin: -20px;
    width: 1280px;
}

